@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cabot-red: #d62300;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cabot: var(--cabot-red);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Pakai Helvetica sebagai prioritas utama */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container-custom {
  /* Memastikan lebar container konsisten di semua section */
  @apply max-w-6xl mx-auto px-6;
}