@import "tailwindcss";

/* Font Variable */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --cabot-red: #d62300;
}

/* Theme Tailwind v4 */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-blue);
  --font-sans: var(--font-sans), -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Base Style */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
}

/* Hide Scrollbar Mobile */
@media (max-width: 1023px) {
  html, body {
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Form Controls */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
textarea,
select,
button {
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
}

button.rounded-full {
  border-radius: 9999px !important;
  -webkit-border-radius: 9999px !important;
}

/* Custom Utilities */
.container-custom {
  @apply max-w-6xl mx-auto px-6;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Animation */
@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}